.movie-detail {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: #000;
  overflow: hidden;
}

.detail-backdrop {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.detail-content {
  position: relative;
  z-index: 10;
  padding: 80px 4%;
  /* Increased top padding */
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  /* Push content down */
}

.back-btn {
  width: 30px;
  cursor: pointer;
  filter: invert(1);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
}

.detail-content h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.detail-overview {
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px;
}

.detail-meta {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #a3a3a3;
}

.detail-actions {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.detail-actions .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: white;
  color: black;
  transition: 0.2s;
}

.detail-actions .btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.detail-actions .btn img {
  width: 25px;
}

.detail-actions .dark-btn {
  background: rgba(109, 109, 110, 0.7);
  color: white;
}

.detail-actions .dark-btn:hover {
  background: rgba(109, 109, 110, 0.4);
}

.movie-detail-loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.remove-btn {
  background-color: rgba(109, 109, 110, 0.7) !important;
  color: white !important;
  border: none;
}

.remove-btn:hover {
  background-color: rgba(109, 109, 110, 0.4) !important;
}